
/* For Mobile */
*{
    box-sizing: border-box;
}
body{
    background:  hsl(212, 45%, 89%);
}

.container{
    margin:0 auto;
    width:90%;
    background:hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    padding: 0.9em;
    border-radius: 0.7rem;
    margin-block: 5em;
    
}

h1{
    font-family: 'Outfit', sans-serif;
    text-align: center; 
    font-weight: 700;
    color:hsl(218, 44%, 22%);
    font-size:1.6em; 
    line-height: 1.2;
}

.qr-code-img{
    width:100%;
    border-radius: 0.7rem;
}

.card-description{
    text-align:center;
    font-weight: 400;
    color:hsl(220, 15%, 55%);
    font-size:0.9em;
    line-height: 1.2;
    padding-inline: 2em;
}

/* For desktop */
@media (min-width:1440px){
   
    .container{
        width: 30%;
    }
    .qr-code-img{
        width:100%;
       
   }
    h1{
        font-size:1.9em;
    }
    .card-description{
        font-size: 1.3em;
        line-height: 1.5;
        padding-inline: 1em;
        padding-bottom: 1em;

    }
}  


